module.exports = {
  'EatStreet': {
    'api': '',
    'me': '',
    'credit': ''
  },
  'clarifai':{
    'CLIENT_ID': '',
    'CLIENT_SECRET': ''
  },
  'twilio':{
    'SID': '',
    'AUTHTOKEN': '',
    'ACTUAL_SID': '',
    'ACTUAL_SECRET': ''
  }
}
