<!DOCTYPE html>
<!--
 .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .-----------------.
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| |     ____     | || |  _______     | || |  ________    | || |  _______     | || |      _       | || |     _____    | || | ____  _____  | |
| |   .'    `.   | || | |_   __ \    | || | |_   ___ `.  | || | |_   __ \    | || |   /\| |/\    | || |    |_   _|   | || ||_   \|_   _| | |
| |  /  .--.  \  | || |   | |__) |   | || |   | |   `. \ | || |   | |__) |   | || |   \     /    | || |      | |     | || |  |   \ | |   | |
| |  | |    | |  | || |   |  __ /    | || |   | |    | | | || |   |  __ /    | || |  |_     _|   | || |      | |     | || |  | |\ \| |   | |
| |  \  `--'  /  | || |  _| |  \ \_  | || |  _| |___.' / | || |  _| |  \ \_  | || |   /     \    | || |     _| |_    | || | _| |_\   |_  | |
| |   `.____.'   | || | |____| |___| | || | |________.'  | || | |____| |___| | || |   \/|_|\/    | || |    |_____|   | || ||_____|\____| | |
| |              | || |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ordr&bull;in | complete</title>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/ordrin-custom.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/ordrin-style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <div class="container-fluid">

    <div class="row text-center pane-one">
      <div class="col-xs-12 col-sm-4 logo-and-title ">
        <img src="/images/pizza.gif" alt="Pizza Logo"/>
        <h1>ordr&bull;in</h1>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="completed">
          <h5 style="text-transform: uppercase">NICE! THIS IS WHAT YOU ORDERED:</h5>
          <br>
          <h4 style="text-transform: uppercase">Order # <span id="orderID" name="orderID"><% if(!error) { %><%= id %><% } %></span></h4>
          <p><span id="orderDesc" name="orderDesc">
            <% if(error!=false) { %>
            <%= error %>
            <% } else { %>
            <%= name %>
            <% } %>
          </span></p>
          <h4 style="text-transform: uppercase">Total: $<span id="orderPrice" name="orderPrice"><% if(!error) { %><%= price %><% } %></span><h4 style="text-transform: uppercase">
        </div>
      </div>

      <div class="col-sm-4 hidden-xs man-eating-col">
        <img src="/images/eating.gif" alt="Man Eating Pizza Animation" class="img-responsive man-eating"/>
      </div>
    </div>


    <div id="footer-stuff" class="row text-center text-picture"></div>



  </div>
</body>
</html>
