<!DOCTYPE html>
<html lang="en">
<head>                                                                                                                                                                
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OrdrIn</title>

  <script src="/js/ordrin-custom.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/ordrin-style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>  
  <div class="container-fluid">

    <div class="row text-center logo-img logo-and-title">
      <img src="/images/pizza.gif" alt="example-logo" class="img-responsive center-block" width="150"/>
      <h1>OrdrIn</h1>
    </div>

    <div class="row text-center file-input food-uploader-div">
      <label class="btn btn-default btn-file uploader-label"><h5>Click to upload some food!</h5><input type="file" class="food-uploader">
      </label>
    </div>
  
    <img src="/images/eating.gif" alt="example-logo" class="img-responsive text-right pull-right man-eating"/>

    <div class="navbar navbar-fixed-bottom text-center text-picture">
      <br>
      <h5>Or text your picture to this number:</h5>
      <br>
      <h1>(123)-456-7890</h1>
      <br><br>
      
      <h5>Built with <span id="heart">&#10084;</span> at HackNY Fall 2016</h5>
      <h5 class="text-center footer-links">
        <a target="_blank" class="footer-link" href="">hello</a>
        <a target="_blank" class="footer-link" href="">hello2</a>
        <a target="_blank" class="footer-link" href="">hello3</a>
        <a target="_blank" class="footer-link" href="">hello4</a>
        <a target="_blank" class="footer-link" href="">hello5</a>
      </h5>

    </div>

    

  </div>
</body>
</html>