<!DOCTYPE html>
<html lang="en">
<head>                                                                                                                                                                
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ordrin - log in</title>

  <script src="/js/ordrin-custom.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/ordrin-style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>  
  <div class="container-fluid">

    <div class="row text-center pane-one">
      <div class="col-xs-12 col-sm-4 logo-and-title ">
        <img src="/images/pizza.gif" alt="Pizza Logo"/>
        <h1>ordr&bull;in</h1>
      </div>

      <div class="col-xs-12 col-sm-4">
        <form class="es-login">
          <h4>Log into your EatStreet account</h4>
          <br>
          <input name="username" type="username" class="es-username-login form-control" placeholder="username">
          <input name="password" type="password" class="es-password-login form-control" placeholder="password">
          <button type="submit" class="btn btn-default es-submit"><h4>Submit</h4></button>
        </form>
      </div>

      <div class="col-sm-4 hidden-xs man-eating-col">
        <img src="/images/eating.gif" alt="Man Eating Pizza Animation" class="img-responsive man-eating"/>
      </div>
    </div>


    <div class="row text-center text-picture">

      <h5>Built with <span id="heart">&#10084;</span> at HackNY Fall 2016</h5>
      <p class="text-center footer-links">
        <a target="_blank" class="footer-link" href="">source</a>
        <a target="_blank" class="footer-link" href="">faq</a>
        <a target="_blank" class="footer-link" href="">carlin</a>
        <a target="_blank" class="footer-link" href="">david</a>
        <a target="_blank" class="footer-link" href="">cheryl</a>
      </p>

    </div>

    

  </div>
</body>
</html>