@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

body {
	background-color: #F7CB41;
}


.logo-and-title > img {
	transform: rotate(180deg);
	float: left;
	width: 150px;
}

.logo-and-title > h1 {
	position: relative;
	color: #EA654A;
	float: left;
	line-height: 75px;
	left:-30px;
}

h1 {
	line-height: 0px;
	font-family: 'Montserrat', sans-serif;
}

p, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}

.food-uploader-div {
	margin-top: 150px;
	color: #EA654A;
	margin-bottom: 125px;

}

.uploader-label {
	background-color: #F4F2F0;
	color: #EA654A;
	border-color: #EA654A;
}

.uploader-label:hover {
	color: white;
	background-color: #EA654A;
	border: none;
}

.food-uploader {
	display: none !important;

}

.man-eating-col {
	width: 500px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
	
.text-picture {

	color: white;
	padding-bottom: 10px;
}

.text-picture > h1 {
	color: #EA654A;
}

.footer-link {
	color: white;
	margin: 0 10px 0;
	text-decoration: none;
}

.footer-link:hover {
	text-decoration: none;
	color: #EA654A;
}

#heart {
	color: #EA654A;
}

.pane-one {
	position: relative;
	background-color: #F4F2F0;
	z-index: 0;
}
